{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}

    <div class='header-img'>
        <div class='title'>
        <legend>Make the best choices for your health</legend>
        </div>
    </div>
                
    <form class="form-container" action="/login" method="POST">
        <h1 class='form-header'>Log in</h1>
        <input 
            class='form-fields' 
            id="username" 
            type="text" 
            required name="username" 
            placeholder="Username"
        >
        <input 
            class='form-fields'
            id="password" 
            type="password" 
            required name="password" 
            placeholder="Password"
        >
        <button 
            class='green-btn-container green-btn green-start' 
            type="submit"
        >
            START
        </button>
        <div id='wrong-password'></div>
        <a 
            class='form-forgot' 
            href="/send-reset"
        >
            Forgot password?
        </a>
        <div class='text-account'>
            <a 
                class='form-forgot' 
                href="/signup"
            >
                No account? Sign Up
            </a>
        </div>
        
    </form>  

<script>
    window.onload = function() {
        var username = document.getElementById("username")
        var password = document.getElementById("password")
        var loginSubmit = document.getElementById("login-submit")
        var validCredentials = document.getElementsByClassName("validCredentials")[0]
        var serverError = document.getElementsByClassName("serverError")[0]
        password.addEventListener("input", function() {
            validCredentials.style.display = "none"
        })
        loginSubmit.addEventListener("click", function() {
            axios({
                method: "POST",
                url: "{{{config.host}}}/auth/login",
                data: {
                    username: username.value,
                    password: password.value
                }
            })
            .then((response)=> {
                serverError.style.display = "none"
                if(response.data.loggedIn) location.href = "{{{config.host}}}/users/profile"
                else { 
                    validCredentials.style.display = "block"
                }
            })
            .catch((error)=> {
                serverError.style.display = "block"
            })
        })        
    }
</script>