{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}

    <div id="header">	
        <div class='foodie-container'>
            <li class='foodie'>FOODIE</li>  
        </div>
        <div class='li-container'>   
            <ul>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">CONTACT</a></li>                                              
            </ul>		
        </div>  
    </div>

    <div class='header-img'>
        {{!-- <div class='title-p'> --}}
        <p class='p-1'>Make the best choices for your health</p>
        {{!-- </div> --}}
    </div>
        
        


                
        <form class="form-container" action="/login" method="POST">

            
    
            <h1 class='form-header'>Log in</h1>
            
            <input class='form-fields' id="username" type="text" name="username" placeholder="Username">
            
            <input class='form-fields' id="password" type="password" required name="password" placeholder="Password">
    
            <div id='wrong-password'></div>
    
            <a class='form-forgot' href="/send-reset">Forgot password?</a>
    
            <h3 class='text-account text-font'>Don't have an Account?</h3>
    
            <div class='text-account'>
                <a class='form-forgot' href="/signup">Sign Up</a>
            </div>
    
            <button class='green-btn-container green-btn green-start' type="submit">START</button>
    
             <!-- <p class="validCredentials">Invalid credentials</p>
            <p class="serverError">Something went wrong, try again later.</p>  -->
        </form>  
        
</div>
    


<script>
    window.onload = function() {
        var username = document.getElementById("username")
        var password = document.getElementById("password")
        var loginSubmit = document.getElementById("login-submit")
        var validCredentials = document.getElementsByClassName("validCredentials")[0]
        var serverError = document.getElementsByClassName("serverError")[0]
        password.addEventListener("input", function() {
            validCredentials.style.display = "none"
        })
        loginSubmit.addEventListener("click", function() {
            axios({
                method: "POST",
                url: "{{{config.host}}}/auth/login",
                data: {
                    username: username.value,
                    password: password.value
                }
            })
            .then((response)=> {
                serverError.style.display = "none"
                if(response.data.loggedIn) location.href = "{{{config.host}}}/users/profile"
                else { 
                    validCredentials.style.display = "block"
                }
            })
            .catch((error)=> {
                serverError.style.display = "block"
            })
        })        
    }
</script>