{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}

<div id="header">	
                <div class='foodie-container'>
                <li class='foodie'>FOODIE</li>  
              </div>
              <div class='li-container'>   
                <ul>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">CONTACT</a></li>                                              
                </ul>		
              </div>  
</div>

<form class="reset-form-container" action="/reset-password" method="POST">

        <h3 class='create-header'>Great! 😀</h3>
        <h3 class='create-header2'>Now you can change your password. </h3>


        <label class='send-text send-p send-p2' for="password">
            <span class="constraints">The password should contain 8 characters, at least 1 number and 1 letter.</span>
        </label>

        <input class='form-field-signup' placeholder='password' type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="password">
        <input type="text" hidden name="token" value="{{token}}">

        <button class='green-btn-container green-btn green-send' type="submit">Reset Password</button>

        <img class='img-login img-send' src='images/logo.png'>
        
</form>


