{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
{{/extend}}

<form class="reset-form-container" action="/reset-password" method="POST">
{{!-- action="{{{config.host}}}/auth/reset-password" --}}
        <h3 class='create-header'>Great! Now you can change your password. </h3>

        <label class='password-text' for="password">
            <span class="constraints">The password should contain 8 characters, at least 1 number and 1 letter.</span>
        </label>

        <input class='form-field-signup' type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="password">
        <input type="text" hidden name="token" value="{{token}}">

        <div class='green-btn-container'>
            <button class='green-btn' type="submit" href='/login'>Reset password</button>
        </div>

</form>


