{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}

<form class="send-form-container" action="/send-reset" method="POST">
{{!-- action="{{{config.host}}}/auth/send-reset" --}}
        <h1 class='send-text send-title'>Forgot your password?</h1>
        <h2 class='send-text send-worries'>No worries! 😀</h2>
        <h3 class='send-text send-p'>Enter the email account you used to Sign Up and we will send you instructions to reset your password.</h3>
        <input class='form-field-signup' type="text" name="email" placeholder="email address">
        <button class='green-btn-container green-btn green-send' type="submit">Send reset link</button>
        <img class='img-login img-send' src='images/logo.png'> 
        <p id="response"></p>
</form>
<script>
    $(".green-btn-container").click(function(e){
        e.preventDefault();
        const email = $(".form-field-signup").val()
        $.post('/send-reset', {email}).then(response =>{
           $('#response').html(response)   
        })
    })
</script>

