 {{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}

<div id="header">	
    <div class='foodie-container'>
        <li class='foodie'>FOODIE</li>  
    </div>
    <div class='li-container'>   
        <ul>
            <li>
                <a href="">ABOUT US</a>
            </li>
            <li>
                <a href="">CONTACT</a>
            </li>                                              
        </ul>		
    </div>  
</div>

<form 
    class="form-container-signin" 
    action="/signup" 
    method="POST" 
    class="form"
>
    <h1 class='create-header'>CREATE AN ACCOUNT</h1>
    <label class='name-signup' for="username">💚 Username</label>
    <input 
        class='form-field-signup' 
        type="text" 
        required name="username"
    >
    <label class='name-signup' for="email">💚 Your Email</label>
    <input 
        class='form-field-signup' 
        type="text" 
        required name="email"
    >
    <label class='name-signup' for="firstname">💚 First Name</label>
    <input 
        class='form-field-signup' 
        type="text" 
        required name="firstname"
    >
    <label for="password" class='name-signup'>💚 Password</label>
    <span 
        class="password-requirements"
    >
        * 8 characters, at least 1 number and 1 letter
    </span>
    <input 
        class='form-field-signup' 
        type="password" 
        required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" 
        name="password"
    >
    <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"><a href="#">I've read the terms and conditions</a>
            </label>
    </div>
    <button 
        class='green-btn-container green-btn' 
        type="submit"
    >
        Sign Up
    </button>
</form>

<script>
    window.onload = function() {
        var email = document.getElementById("email");
        var form = document.getElementsByClassName("form")[0];      
        email.addEventListener("input", function (event) {           
            axios({
                method: "POST",
                url: "{{{config.host}}}/auth/email-availability",
                data: {
                    email: email.value
                }
            })
            .then((response)=> {
                if(!response.data.available) {
                    email.setCustomValidity("Email is unavailable");
                    form.reportValidity()
                } else {
                    email.setCustomValidity("");
                }
            })
            .catch((err)=>{
                serverError.style.display = "block"
            })
        });
    }
</script>