<div class='navbar'>
    <button class='home-navbar' href='/home'>Home</button>
    <button class='lists-navbar' href='/wishlists'>Home</button>
    <button class='profile-navbar' href='/profile'>Home</button>
</div>