{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/stylesheets/navbar.css"/>
{{/extend}}

  {{#if user}}
     <div class="navbar" id="myNavbar">
      <a href='/home' class="active">Home</a>
      <a href='/add-wishlist'>Wishlists</a>
      <a href='/profile'>Profile</a>
      <a href='/logout'>Log out</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>  
  {{else}}
    <div class="hiddenNavbar"></div>
  {{/if}}
