{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/error.css" />
{{/extend}}

<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>

<footer class="footer">
    <p>© Copyright 2019 <a href="/home">Foodie</a>, Inc. Tous droits réservés. </p>
    <img class="logo" src="../images/logo.png">
</footer>