{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/stylesheets/home.css"/>
  
{{/extend}}


<div class='titles-container'>
  <h1 class='titles'>FOODIE</h1>
  <h2 class='title-look'>What are you looking for?</h2>

<form id="content">
  <input type="text" name="input" class="input" id="search-input">
  <button type="reset" class="search" id="search-btn"></button>
</form>

<button class='green-btn-container green-btn green-send' type="submit">SEARCH</button>

<img class='img-login' src='images/logo.png'> 

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script>

const input = document.getElementById("search-input");
const searchBtn = document.getElementById("search-btn");

const expand = () => {
  searchBtn.classList.toggle("close");
  input.classList.toggle("square");
};

searchBtn.addEventListener("click", expand);

</script>