{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/not-found.css" />
{{/extend}}

<h1>404 Error</h1>
<h2>Your request is not defined yet. Keep on browsing our amazing products !</h2>

<footer class="footer">
    <p>© Copyright 2019 <a href="/home">Foodie</a>, Inc. Tous droits réservés. </p>
    <img class="logo" src="../images/logo.png">
</footer>