{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

{{/extend}}


<div class='data-container1'>

  <div class="circle">
    <img class="profilepic" src="images/logo.png">
  </div>

<div class='data-container2'>
  <h1>Julieta</h1>

<button class='green-btn-container green-btn green-profile'>
  <div class="profile-upload">
    <i class="upload-button"></i>
    <input type="file" name="file" id="file" class="inputfile" />
    <label for="file">Change Picture</label>
  </div> 
</button>

  <button class='green-btn-container green-btn green-profile' type="submit" href='/wishlist'>Whishlist</button>

  <button class='green-btn-container green-btn green-profile' type="submit" href=''>Log Out</button>

</div>




<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".inputfile").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
});
</script>