.button {
    background-color: #88D3C1;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;

  }


.button2 {
    background-color: #FF6457;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;

  }

  .edit-product-container {
    margin : 2%; 
  }