html {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F4F4F4;
}

.capitalized {
    text-transform: capitalize;
} 

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.img-login{
    width: 200px;
    height: auto;
    position: relative;
    border-radius: 30px;
    border: none; 
}

.form-header{
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 70%;
    font-family: 'Amatic SC', cursive;
}

.text-account, 
.form-forgot{
    text-align: center;
}

.text-account{
    font-size: 45px;
    margin-bottom: -2px;
}

.text-font{
    font-family: 'Amatic SC', cursive;
}

.form-fields {
      border: 2px grey;
      border-radius: 4px;
	    position: relative;
      font-size: 16px;
      width: 40vw;
      height: 4vh;
      box-shadow: 5px 5px 35px 10px #EBEBEB;
      padding: 10px;
      
}

.title {
    width: auto;
    height: 17vh;
    background-color: #73D3C8;
    padding: 10px;
    border-radius: 5px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    
  }

input[type="text"] {
      margin-bottom: 30px;
	  border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 0.5px solid lightgrey;
}

input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: 0.5px solid lightgrey;
	}

.form-forgot{
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

.login-container{
    border-radius: 4px;
    width: 73vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#login-submit{
    margin-top: 15px;
    color: white;
    font-size: 24px;   
    text-decoration: none;
}

/* -----  SIGN UP ----- */

.form-container-signin,
.reset-form-container,
.send-form-container{
    margin: 0 auto;
    border: none;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  } 

.send-form-container{
    height: 90vh;
    margin-bottom: 20px;
}

.create-header{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    width: 90vw;
    font-family: 'Amatic SC', cursive;
}

.create-header2{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    width: 90vw;
    font-family: 'Amatic SC', cursive;
}

.form-field-signup{
    border-radius: 4px;
    border: 2px grey;
    position: relative;
    width: 28vw;
    height: 4vh;
    padding: 10px;
    margin-top: 5px;
}

.green-btn-container{
    background-color: #73D3C8;
    border-radius: 4px;
    width: 28vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    border: none;
    margin-bottom: 20px;
}

.green-start{
    margin-top: 40px;
}

.green-btn{
    color: white;
    font-size: 20px;   
}

.name-signup{
    font-size: 16px;
    color: #73D3C8;
    text-align: left;
    width: 30vw;
}

.password-requirements{
    text-align: left;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 30vw;
}

.pure-controls {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* -----  RESET PASSWORD ----- */

.password-text,
.send-text{
    text-align: center;
}

.send-text{
    width: 90vw;
    font-family: 'Amatic SC', cursive;
    
}

.send-title{
    font-size: 48px;
    margin-bottom: -20px;
}

.send-worries{
    font-size: 35px;
}

.send-p{
    font-size: 22px;
    text-align: center;
    width: 90vw;
}

.img-send{
    margin-top: 40px;
}

.send-p2{
    margin-top: 30px;
    font-family: 'Amatic SC', cursive;

}

#header{
    height:70px; 
    background:#fff 1448px -2px no-repeat;
    border-bottom:1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #header ul{
    text-align: center;
  }

  #header li{
    list-style:none;
    float:left;
    margin-right: 50px;	
    font-family: 'Amatic SC', cursive;
  }

  #header li a{
    font-weight:700;
    color:black;
    font-size:28px;	
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  #headerli a:hover{
    color:#000;
    cursor:pointer;
  }

  .foodie-container{
    list-style:none;
    float:left;
    margin-right:50px;	
    font-family: 'Amatic SC', cursive;
  }

  .foodie{
    font-weight:700;
    color:black;
    font-size: 50px;	
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-left: 30px;
  }

.p-1 {
    background-color: #73D3C8;
    font-size: 65px;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;   
    margin: 0;
  }

  .s013 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background-size: cover;
    background-position: center center;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .s013 form {
    width: 100%;
    max-width: 914px;
    margin: 0;
  }
  
  .s013 form fieldset {
    margin-bottom: 50px;
  }
  
  .s013 form fieldset legend {
    background-color: #73D3C8;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }
  
  .s013 form .inner-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  
  .s013 form .inner-form .left {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
  }
  
  .s013 form .inner-form .input-wrap {
    background: #fff;
    height: 80px;
    position: relative;
    padding: 20px 25px 20px 25px;
  }
  
  .s013 form .inner-form .input-wrap .input-field label {
    font-size: 11px;
    font-weight: 500;
    display: block;
    color: #555;
  }
  
  .s013 form .inner-form .input-wrap .input-field input {
    font-size: 16px;
    color: #333;
    background: transparent;
    width: 100%;
    border: 0;
    font-family: 'Lato', sans-serif;
    padding: 8px 0;
  }
  
  .s013 form .inner-form .input-wrap .input-field input.placeholder {
    color: #808080;
  }
  
  .s013 form .inner-form .input-wrap .input-field input:-moz-placeholder {
    color: #808080;
  }
  
  .s013 form .inner-form .input-wrap .input-field input::-webkit-input-placeholder {
    color: #808080;
  }
  
  .s013 form .inner-form .input-wrap .input-field input.hover, .s013 form .inner-form .input-wrap .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
  .s013 form .inner-form .input-wrap.first {
    -ms-flex-positive: 1;
        flex-grow: 1;
    border-radius: 3px 0 0 3px;
  }
  
  .s013 form .inner-form .input-wrap.second {
    min-width: 262px;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #e5e5e5;
  }
  
  .s013 form .input-select {
    height: 34px;
    padding: 10px 0 6px 0;
  }
  
  .s013 form .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 100%;
    color: #333;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0;
    padding-right: 30px;
    font-size: 16px;
    min-height: auto;
    font-family: 'Lato', sans-serif;
  }
  
  .s013 form .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
  }
  
  .s013 form .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    opacity: 1;
    color: #808080;
    font-weight: 400;
  }
  
  .s013 form .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
  }
  
  .s013 form .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .s013 form .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }
  
  .s013 form .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
    color: #333;
  }
  
  .s013 form .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
  }
  
  .s013 form .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 0;
  }
  
  .s013 form .choices[data-type*="select-one"]:after {
    border: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    transform: none;
    opacity: 1;
    right: 0;
    top: 0;
    background-size: 18px 18px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }
  
  .s013 form .choices[data-type*="select-one"].is-open:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
  }
  
  .s013 form .btn-search {
    min-width: 110px;
    height: 80px;
    padding: 0 15px;
    background: #73D3C8;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
  }
  
  .s013 form .btn-search:hover {
    background: #f9293a;
  }
  
  @media screen and (max-width: 767px) {
    .s013 form .inner-form {
      display: block;
    }
    .s013 form .inner-form .left {
      display: block;
    }
    .s013 form .inner-form .left .input-wrap {
      margin-bottom: 15px;
    }
    .s013 form .btn-search {
      margin: 0;
      width: 100%;
    }
  }