/* IN THIS STYLESHEET WE HAVE THE STYLE FOR:
- LOG IN
- SIGN UP 
- RESET PASSWORD */

/* -----  LOG IN -------------------------------------------- */

body {
	background: white !important;	
}

.form-container {
  padding: 15px 35px 45px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.img-login{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 30px;
    border: none; 
}

.form-header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 70%;
}

.text-account, 
.form-forgot{
    text-align: center;
}

.text-account{
    font-size: 24px;
    margin-bottom: -2px;
}

.form-fields {
      border: 2px grey;
      border-radius: 4px;
	  position: relative;
      font-size: 16px;
      width: 70vw;
      height: 4vh;
      box-shadow: 5px 5px 35px 10px #EBEBEB;
      padding: 10px;
      
}

/* input[type="text"]:hover{
    box-shadow: 3px red;
} */

input[type="text"] {
      margin-bottom: 30px;
	  border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 0.5px solid lightgrey;
}

input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: 0.5px solid lightgrey;
	}

.form-forgot{
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

.login-container{
    border-radius: 4px;
    width: 73vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#login-submit{
    margin-top: 15px;
    color: white;
    font-size: 24px;   
    text-decoration: none;
}


/* -----  SIGN UP -------------------------------------------- */

.form-container-signin,
.reset-form-container,
.send-form-container{
    margin: 0 auto;
    border: none;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  } 

.send-form-container{
    height: 90vh;
}

.create-header{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

.form-field-signup{
    border-radius: 4px;
    border: 2px grey;
    position: relative;
    width: 70vw;
    height: 4vh;
    padding: 10px;
}

.green-btn-container{
    background-color: #73D3C8;
    border-radius: 4px;
    width: 73vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    border: none;
}

.green-start{
    margin-top: 40px;
}

.green-btn{
    color: white;
    font-size: 20px;   
}

.name-signup{
    font-size: 16px;
    color: #73D3C8;
    text-align: left;
    width: 70vw;
}

.password-requirements{
    text-align: left;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 70vw;
}

/* -----  RESET PASSWORD -------------------------------------------- */

.password-text,
.send-text{
    text-align: center;
}

.send-text{
    width: 90vw;
}

.send-title{
    font-size: 28px;
}

.send-worries{
    font-size: 26px;
}

.send-p{
    font-size: 16px;
    text-align: center
}

.img-send{
    margin-top: 40px;
}

